$tiffany: #75dbcd;
$tea-green: #c9dbba;
$vanilla: #dcdba8;
$light-orange: #f5cda7;
$atomic-tangerine: #faa381;
$bistre: #3d2b1f;

$shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
$shadow-hover: rgba(0, 0, 0, 0.24) 0 3px 8px;

$layout-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;