@use "App";

.hall-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 1000px;
}

.table-in-hall {
  width: 30%;
  margin: 12px;
}

.menu-button {
  background-color: App.$light-orange;
}