@use "colors" as c;
@use "sizes" as s;

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: {
    left: auto;
    right: auto;
  };

  > * {
    box-shadow: c.$layout-shadow;
    border-radius: s.$lg;
    background-color: c.$tea-green;
  }
}

.layout {
  width: 1200px;

  display: flex;

  padding: {
    left: s.$lg;
    right: s.$lg;
  }
}

.layout.body {
  flex-direction: column;
  align-items: center;

  margin: {
    top: s.$l;
    bottom: s.$l;
  };

  flex-grow: 1;
}

.layout.header {
  border-radius: 0 0 s.$lg s.$lg;
  min-height: 64px;

  flex-direction: row;
  align-items: center;
}

.layout.footer {
  border-radius: s.$lg s.$lg 0 0;

  flex-direction: row;
  align-items: center;
}
