@use "App";

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  margin: {
    left: auto;
    right: auto;
  };

  > * {
    box-shadow: App.$layout-shadow;
    border-radius: App.$xl;
    background-color: App.$tea-green;
  }
}

.layout {
  width: 1200px;

  display: flex;

  padding: {
    left: App.$l;
    right: App.$l;
  }
}

.layout.body {
  flex-direction: column;
  align-items: center;

  margin: {
    top: App.$l;
    bottom: App.$l;
  };

  flex-grow: 100;
}

.layout.header {
  border-radius: 0 0 App.$xl App.$xl;
  min-height: 64px;

  flex-direction: row;
  align-items: center;
}

.layout.footer {
  border-radius: App.$xl App.$xl 0 0;

  flex-direction: row;
  align-items: center;
}
